<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система Сущности Материи</title>
    <link href="/static/css/Style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <!-- Header Menu start -->
    <header class="top__header">

        <div class="__wrapper">
            <nav class="__nav">
                <ul class="menu">
                    <li class="__item">
                        <a href="#!" class="__link">Об авторе</a>
                    </li>
                    <li class="__item">
                        <a href="#!" class="__link">Теория</a>
                    </li>
                    <li class="__item">
                        <a href="#!" class="__link">Запись на занятия</a>
                    </li>
                    <li class="__item">
                        <a href="#!" class="__link">Книга</a>
                    </li>
                    <div class="__telegram">
                        <a href="#!" class="telegram">
                            <img src="/static/img/telegram.png" alt="telegram">
                        </a>
                    </div>
                </ul>
                <ul class="mobil__menu">
                    <div class="__hamburger">
                        <a href="#!" class="hamburger">
                            <img src="/static/img/svg/hamburger.svg" alt="hamburger">
                        </a>
                    </div>
                    <div class="__telegram">
                        <a href="#!" class="telegram">
                            <img src="/static/img/telegram.png" alt="telegram">
                        </a>
                    </div>                                        
                </ul>
            </nav>

        </div>

    </header>
    <!--  Header Menu end -->

    <!-- Logo start -->
    <div class="top__logo" style="--top: 20px">
        <a href="#!" class="logoSM">
            <img src="/static/img/logoSM.png" alt="logoSM" srcset="/static/img/logoSM@2x.png 2x">
        </a>
    </div>
    <!-- Logo end -->

    <!-- Main start -->
    <main class="main">

    <!-- Manage start -->
        <section class="manage">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="manage__title">
                        Управляй силами Вселенной для лечения, здоровья и долголетия!
                    </h1>
                    <p class="manage__subtitle">
                        Получи эффективные практики Сущности Материи (СМ). Строго научный подход в доступной форме
                    </p>
                </div>
            </div>
        </section>
    <!-- Manage end -->        

    <!-- Pills start -->    
        <section class="pills">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="pills__title">
                        Миллионы людей болеют сезонно или хронически
                    </h1>
                    <p class="pills__subtitle">
                        Для лечения они используют дорогие лекарства как правило с побочным эффектом
                    </p>
                </div>
            </div>
        </section>
    <!-- Pills end -->        

    <!-- Coronavirus start -->            
        <section class="coronavirus">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="coronavirus__title">
                        Человечество время от времени сталкивается с эпидемиями, такими как коронавирус
                    </h1>

                </div>
            </div>
        </section>
    <!-- Coronavirus end -->        

    <!-- Ecology start -->   
        <section class="ecology">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="ecology__title">
                        Плохая экология вокруг нас в виде загрязнения, загазованности,
                    </h1>
                    <p class="ecology__subtitle">
                        вредных электромагнитных полей и излучений, вредных продуктов питания
                    </p>
                </div>
            </div>
        </section>
    <!-- Ecology end -->        

    <!-- Stress start -->           
        <section class="stress">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="stress__title">
                        Жизнь современного человека полна стрессов, которые сокращают наш иммунитет
                    </h1>

                </div>
            </div>
        </section>
    <!-- Stress end -->        

    <!-- Way start -->           
        <section class="way">
            <div class="wrapper">
                <div class="wrapper__way__title">
                    <h2 class="way__title">

                        <big>Казалось бы удручающая безвыходная ситуация, </big>когда забываешь о своем здоровье.
                        Вспоминая о нем во время очередного заболевания.

                        <br><br>

                        <big>Как быть? Плыть по течению, </big>понимая, что не можете изменить внешние негативные
                        факторы?
                    </h2>
                    <p class="way__subtitle">

                        Или найти способ повысить свой иммунитет, избавиться от болезни, обрести здоровье и радость
                        жизни
                    </p>
                </div>
        </section>
    <!-- Way end -->        

    <!-- To__be start -->             
        <section class="to__be">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="to__be__title">
                        Оказывается такой способ есть. Это практики Системы Сущности Материи
                    </h1>
                    <p class="to__be__subtitle">
                        В их основе применение созидательных сил Вселенной
                    </p>
                </div>
            </div>
        </section>
    <!-- To__be end -->  

        <!-- When start -->
        <section class="when">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="when__title">
                        Когда Вам следует использовать СМ:
                    </h1>
                    <div class="when__options">
                        <div class="when__option">
                            <div class="when__option__pic">
                                <img src="/static/img/svg/health_problems.svg" alt="health"
                                    class="when__option-health_problems">
                            </div>
                            <p class="when__option__desc">
                                Проблемы со здоровьем
                            </p>
                        </div>
                        <div class="when__option">
                            <div class="when__option__pic">
                                <img src="/static/img/svg/always_shine.svg" alt="shine" class="when__option-always_shine">
                            </div>
                            <p class="when__option__desc">
                                Хотите прожить долго
                            </p>
                        </div>
                        <div class="when__option">
                            <div class="when__option__pic">
                                <img src="/static/img/svg/difficult_business.svg" alt="business"
                                    class="when__option-difficult_business">
                            </div>

                            <p class="when__option__desc">
                                Вам предстоит трудное изнуряющее дело
                            </p>
                        </div>
                        <div class="when__option">
                            <div class="when__option__pic">
                                <img src="/static/img/svg/in_harmony.svg" alt="harmony" class="when__option-in_harmony">
                            </div>
                            <p class="when__option__desc">
                                Хотите быть в гармонии с внешним и внутренним миром
                            </p>
                        </div>
                        <div class="when__option">
                            <div class="when__option__pic">
                                <img src="/static/img/svg/classes_for_health.svg" alt="for health"
                                    class="when__option-classes_for_health">
                            </div>
                            <p class="when__option__desc">
                                Хотите, чтобы работа, спорт были не на износ, а способствовали здоровью
                            </p>
                        </div>
                        <div class="when__option">
                            <div class="when__option__pic">
                                <img src="/static/img/svg/pleasure_of_work.svg" alt="pleasure"
                                    class="when__option-pleasure_of_work">
                            </div>
                            <p class="when__option__desc">
                                Хотите получить удовольствие от работы
                            </p>
                        </div>
                    </div>
                    <div class="when__button">
                        <a href="#!" class="when__button__text">Запись на занятия</a>
                    </div>

                </div>
            </div>
        </section>
        <!-- When end -->

        <!-- Find__out start -->
        <section class="find__out">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h2 class="find__out__title">
                        Узнайте, как работает Система Сущности Материи
                    </h2>
                    <div class="find__out__subtitle">
                        <h3 class="find__out__subtitle__comment">
                            Сущность материи - это единый и всеобщий для всех материальных образований закон, по
                            которому существует наша часть Вселенной
                        </h3>
                        <h3 class="find__out__subtitle__comment">
                            Существует система сил, которая одинаково образуется и действует в любом теле и связи
                            природы, общества, психики
                        </h3>
                        <h3 class="find__out__subtitle__comment">
                            Достаточно систему сил сущности материи в качестве эталона наложить на систему сил
                            изучаемого процесса, чтобы вычленить эти силы и узнать, чем является каждая из них с точки
                            зрения сущности материи. И далее, определив конкретное соотношение этих сил, дать
                            характеристику процесса, например, в теле человека
                        </h3>
                        <h3 class="find__out__subtitle__comment">
                            Причем сущность материи можно использовать как орудие влияния на процессы внутри тела или
                            связи с целью получения нужного эффекта
                        </h3>
                        <h3 class="find__out__subtitle__comment">
                            Как? Путем получения определенного режима (+/единства тела, организма)
                        </h3>
                        <h3 class="find__out__subtitle__comment">
                            Практики, предложенные здесь, позволят вам добиться выдающихся результатов
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- Find__out end -->
        
        <!-- Foto start -->
        <section class="foto">
            

                <div class="foto__father">
                    <img src="/static/img/Foto__father.jpg" alt="father">
                    <span class="foto__father__quote">
                        “Является очевидным, что <strong>социальное лечение эффективнее</strong> (ведь материя сильнее любых лекарств и других материальных средств лечения), <strong>надежнее, проще, дешевле, универсальнее.</strong> Оно является самолечением, а потому не зависит от врачевателей и вообще от общества. Кроме того, <strong>оно очищает и омолаживает все части тела, духа и ауры и усиливает связь всего организма с материей космоса.”</strong>               Суханов Ю.Г.
                        <br><br>
    Отец, благодаря своим методикам, избавился от хронической ангины, колита
                    </span>
                    <div class="sukhanov">
                        
                            <div class="button-container">
                                <a href="#video1" class="shine-button"></a>
                            </div>                        
                    </div>
                </div>


        <!-- Video start  -->                
            <div class="container">
                <!-- кнопка -->

                <!-- всплывающее окно -->
                <a href="#!" class="overlay" id="video1"></a>
                <div class="popup">
                    <iframe width="1360" height="765" src="/static/img/Sukhanov.mp4" frameborder="0" allowfullscreen></iframe>
                    <a class="close" title="" href="#!" onclick = "index.html(); return false;"></a>
                </div>
            </div>
        <!-- Video end -->  

        </section>

        <!-- Foto end -->

        <!-- Advantage start -->        
        <section class="advantage">
            <div class="wrapper">
                <h2 class="advantage__title">
                    Достоинства СМ:
                </h2>
                <div class="advantage__frame">
                    <div class="justification">
                        <img src="/static/img/Justification.jpg" alt="Justification" class="justification__pic">
                        <div class="justification__comment">
                            <h2 class="justification__title">
                                Научное обоснование
                            </h2>
                            <h3 class="justification__text">
                                Теория и практики, предлагаемые на этом сайте, имеют научное философское обоснование.  Смотри  книгу "Как открыть сущность материи и использовать её в самой широкой практике" Ю. Г. Суханов Издательство "Михайлов посад", 1998 г
                            </h3>

                        </div>
                       
                    </div>
                    <div class="availability">

                        <div class="availability__comment">
                            <h2 class="availability__title">
                                Доступность
                            </h2>
                            <h3 class="availability__text">
                                Применение данных практик не  требует какого-либо оборудования или специальных условий. Так как эти практики как раз и применяются в любой связи 
                            </h3>

                        </div>
                        <img src="/static/img/Availability.jpg" alt="Availability" class="availability__pic">                       
                    </div>
                    <div class="universality">
                        <img src="/static/img/Universality.jpg" alt="Universality" class="universality__pic">
                        <div class="universality__comment">
                            <h2 class="universality__title">
                                Универсальность
                            </h2>
                            <h3 class="universality__text">
                                Сущность Материи, на которой основаны лечебные практики - это единый и универсальный для всех материальных образований закон, по которому существует материя. То есть он применим для всех тел, связей и явлений в нашей части Вселенной
                            </h3>

                        </div>
                       
                    </div>
                    <div class="simplicity">

                        <div class="simplicity__comment">
                            <h2 class="simplicity__title">
                                Простота
                            </h2>
                            <h3 class="simplicity__text">
                                Все термины и описания теории Сущности Материи выражены в простой, понятной и краткой форме
                            </h3>

                        </div>
                        <img src="/static/img/Simplicity.jpg" alt="Simplicity" class="simplicity__pic">                       
                    </div>                    
                </div>
            </div>
        </section>

        <!-- Advantage end -->

        <!-- Proposal start -->
        <section class="proposal">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="proposal__title">
                        Что я предлагаю Вам
                    </h1>
                    <div class="proposal__options">
                        <div class="proposal__option">
                            <div class="proposal__number__option">
                                <div class="numberCircle">1</div>
                                <h3 class="proposal__comment">
                                    Я буду вести и поддерживать вас на практических онлайн занятиях по методикам СМ. Стоимость 1 занятия 0,5 часа - 500 руб. Приобретается курсом от 8 занятий
                                </h3>
                            </div>
                            <div class="proposal__button">
                                    <a href="#!" class="proposal__button__text">Запись на занятия</a>
                            </div>
                        </div>
                        <div class="proposal__option">
                            <div class="proposal__number__option">
                                <div class="numberCircle">2</div>
                                <h3 class="proposal__comment">
                                    Вы чувствуете в себе силы самостоятельно изучить и применять на практике знания СМ - приобретите электронную версию книги "Как открыть сущность материи и использовать её в самой широкой практике" Ю. Г. Суханов в формате PDF. Цена 450 руб
                                </h3>
                            </div>
                            <div class="proposal__button">
                                    <a href="#!" class="proposal__button__text">Купить книгу</a>
                            </div>
                        </div>
                        <div class="proposal__option">
                            <div class="proposal__number__option">
                                <div class="numberCircle">3</div>
                                <h3 class="proposal__comment">
                                    Вам мало практических занятий. И вы хотите шире использовать знания СМ. Например, для гармонии в семье, успешной карьеры или для ускорения своих проектов. При приобретении курса от 8 занятий, вы получаете скидку на книгу. Цена книги 300 руб
                                </h3>
                            </div>
                            <div class="proposal__button">
                                    <a href="#!" class="proposal__button__text">Запись и книга</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Proposal end -->

        <!-- Uniqueness end -->
        <section class="uniqueness">
            <div class="wrapper">
                <div class="wrapper__title">
                    <h1 class="uniqueness__title">
                        Уникальность СМ в ее вездесущности. Вы сможете применять её в любой ситуации, используя позитивные силы Вселенной
                    </h1>

                </div>
            </div>
        </section>
        <!-- Uniqueness end -->

        <!-- Questions start -->
        <section class="questions">

            <h1 class="questions_heading">
                Ваши вопросы
            </h1>
            <div class="holder">
        
                <input type="checkbox" class="read-more-checker" id="read-more-checker" />
                <div class="limited l-200">
                    <p><b>
                        Что представляют собой практики Сущности Материи?
                    </p></b><br>
                    <h2 class="questions_title">
                        Практики СМ позволяют человеку, управляя состоянием своего тела при взаимодействии с каким-либо объектом (стул, дорога, другой человек и т.д. и т.п.), переводить его в наиболее благоприятный режим, который является лечебным и поддерживать этот режим для здоровья и долголетия. Практики представляют  собой сочетание усилий человека по его самоограничению, доброму отношению к объекту, единению всего организма при понимании происходящего с ним.
                    </h2>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker" class="read-more-button"></label>
            </div>
            <div class="holder">
                <input type="checkbox" class="read-more-checker1" id="read-more-checker1" />
                <div class="limited l-200">
                    <p><b>
                        Есть ли противопоказания к занятиям?
                    </p></b><br>
                    <h2 class="questions_title">
                        Противопоказаний нет. Практики СМ не относятся к медицинскому воздействию на человека. Это направление относится к оздоровительным практикам и физической культуре, культуре отношения к окружающему нас миру. Благодаря чему мы можем полноценно задействовать силы развития н.ч. Вселенной себе во благо.
        Правильное применение практик СМ позволяет гармонизировать  процессы в теле человека с созидательными силами Вселенной. Это создает мощный оздоровительный эффект, позволяющий существенно улучшить свое состояние: вы можете научиться снижать боль, нормализовать давление и сердцебиение, а при регулярных занятиях (после обучения вы сможете заниматься самостоятельно) – уменьшить проявления хронических заболеваний: приступы будут возникать реже, протекать менее остро, длиться меньше. Я советую заниматься данными практиками для оздоровительных целей в союзе с Вашим доктором, постепенно Вы сможете снижать дозировку лекарств и прибегать к ним все реже. Из вашей жизни уйдет ощущение боли и ограничение подвижности и физиологических функций.
                    </h2>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker1" class="read-more-button1"></label>
            </div>

            <div class="holder">
                <input type="checkbox" class="read-more-checker2" id="read-more-checker2" />
                <div class="limited l-200">
                    <p><b>
                        Есть ли рассрочка?
                    </p></b><br>
                    <h2 class="questions_title">
                        Да, есть. Вы можете оплатить частично, чтобы забронировать свободное место  в расписании занятий, а после разбить оплату на несколько платежей до начала занятий.
                    </h2>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker2" class="read-more-button2"></label>
            </div>
            <div class="holder">
                <input type="checkbox" class="read-more-checker3" id="read-more-checker3" />
                <div class="limited l-200">
                    <p><b>
                        Есть ли противопоказания для практик Сущности Материи?
                    </p></b><br>
                    <h2 class="questions_title">
                        Поскольку  практики СМ основаны на законах действующих в н.ч. Вселенной, направленных на созидание, благодаря которым мы  собственно и появились на свет, то ими можно и нужно заниматься любому человеку в любом состоянии и в любых жизненных ситуациях. Однако необходима постепенность и соблюдение методик, чтобы пользоваться именно +/циклом связи, что особенно важно, если организм ослаблен, например, болезнью или перегрузками. Работая с клиентами, я обязательно выясняю особенности состояния человека, даю рекомендации с учетом необходимых ограничений, а также обучаю самого человека самостоятельно и безопасно пользоваться практиками для решения необходимых задач в его жизни. 
                    </h2>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker3" class="read-more-button3"></label>
            </div>
            <div class="holder">
                <input type="checkbox" class="read-more-checker4" id="read-more-checker4" />
                <div class="limited l-200">
                    <p><b>
                        Как я получу доступ к материалам?
                    </p></b><br>
                    <h2 class="questions_title">
                        Доступ к личному кабинету на платформе Justclick выдается мгновенно сразу же после оплаты ко всем курсам и бонусным материалам - приходит на вашу электронную почту, которую вы указали при заказе.
Если вы приобретаете курс в рассрочку, то доступ откроется после полной оплаты.
                    </h2>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker4" class="read-more-button4"></label>
            </div>
            <div class="holder">
                <input type="checkbox" class="read-more-checker5" id="read-more-checker5" />
                <div class="limited l-200">
                    <p><b>
                        В каком возрасте можно заниматься практиками Сущности Материи?
                    </p></b><br>
                    <h2 class="questions_title">
                        Можно заниматься в любом возрасте: с момента, когда ребенок может повторять за родителями какие-либо действия (конечно начинать лучше всего в игровой форме) до глубокой старости. Пожилые люди могут замечательно поддерживать свое физическое, эмоциональное и ментальное состояние при помощи практик Сущности Материи.
                    </h2>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker5" class="read-more-button5"></label>
            </div>
            <div class="holder">
                <input type="checkbox" class="read-more-checker6" id="read-more-checker6" />
                <div class="limited l-200">
                    <p><b>
                        Практики Сущности Материи – это психотерапия или психологическое консультирование?
                    </p></b><br>
                    <h2 class="questions_title">
                        Практики Сущности Материи не относятся к области психотерапии и не являются психологическим консультированием. Это результат философского труда выдающегося ученого Суханова Ю.Г. Труда, соединившего воедино накопленные человечеством знания в стройную теорию, отражающую взаимодействие, развитие и деградацию всего живого и неживого в н.ч. Вселенной. Труда, объясняющего явления природы и достижения человека, дающего новые подходы и новые практики в т.ч. и для здоровья и долголетия последнего.
                    </h2>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker6" class="read-more-button6"></label>
            </div>            
    </section>
    <!-- Questions end -->

    </main>
    <!-- Main end -->

    <!-- Top__logo start -->
    <div class="top__logo" style="--top: 24px">
        <a href="#!" class="logoSM">
            <img src="/static/img/logoSM.png" alt="logoSM" srcset="/static/img/logoSM@2x.png 2x">
        </a>
    </div>
    <!-- Top__logo end -->

    <!-- Footer Menu start -->
    <footer class="__footer">

        <div class="footer__wrapper">
            <nav class="__nav">
                <ul class="footer__menu">
                  
                    <li class="footer__item">
                        <p>© 2023  Василий Суханов</p>
                    </li>
                    <div class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="__link">Правовая информация</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="__link">Контактная информация</a>
                        </li>
                    </div>
                </ul>
            </nav>

        </div>

    </footer>
    <!-- Footer Menu end -->    

</body>

</html>